.top_bar{
    width: 100%;
    height: 70px;
    background-color:  rgb(58 58 141);

}
body{
    margin: 0;
     
}




.text{
    color: rgb(248, 243, 243);
    font-weight:bold;
    font-size: 35px;
    text-decoration: 0;
    padding-left: 250px;
}
.containr{
    padding-top: 45%;
    
}
.logo{
    width: 50%;
    padding-top: 12px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.table{
    color: aliceblue;
}
.email{
    color: white;
}
.password{
    color: white;

}

.fp{
    color: white;
}
.button{
    color: white;
    background-color: rgb(36, 36, 155);

}
.button:hover{
    background-color: rgb(52, 21, 146);
}
.left_section{
    width: 50%;
    float: left;
    margin-left: 60%;
    margin-top: 50px;
}
.fb_pic{
    padding-left: 15%;

}
.right_section{
    width: 39%;
    float: left;
    margin-left: 60%;
     margin-top: -216px;
     padding-bottom: 75%;
   
   
    
}
.video{
    width: 2px;
    height: 3px;
}


.main_body{
    margin: 0;
    width: 100%;
    height: 450px;
    background-color:rgb(224, 222, 222);
    float: left;
    
}
.para1{
     
     font-size: 24px;
        line-height: 28px;
        width: auto;
        padding-left: 10%;
        padding-top: 8%;
    }
